// path to settings.json
// C:\Users\acer\AppData\Roaming\Code\User
// ширина моего окна - 1229 x 590

@import "_nullstyle";

@function pxToEm($pixels, $baseFontSize: 20px) {
    @return ($pixels / $baseFontSize) * 1em;
}

body {
  font-size: 27px;
  position: relative;
}


.butt {
  width: 200px;
  text-align: center;
  position: fixed;
  font-size: 40px;
  bottom: calc(50% - 20px);
  right: 5%;
  padding: 10px;
  background: #000;
  color: #fff;

  &:focus {
    border: 5px solid #000;
    background: #fff;
    color: #000;
  }
  
}

input {
  border: 1px solid #000;
}

div {
  margin-bottom: 5px;
  border: 1px solid #000;
  padding: 5px;
}
button {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #000;
  width: 100px;
}