// path to settings.json
// C:\Users\acer\AppData\Roaming\Code\User
// ширина моего окна - 1229 x 590

@import "_nullstyle";

@function pxToEm($pixels, $baseFontSize: 20px) {
    @return ($pixels / $baseFontSize) * 1em;
  }
  
body {
}

a {
    // cursor: pointer;
}

.container {
    font-size: 20px;
    width: pxToEm(1200px);
    margin: 0 auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: pxToEm(40px) 0;
}

.header {
    text-align: center;
    margin-bottom: pxToEm(20px);

		&__title {
            font-size: pxToEm(40px);
            margin-bottom: pxToEm(10px);
		}

		&__message {
            margin-bottom: pxToEm(10px);
		}
}

.manual {
    text-transform: uppercase;
    font-size: pxToEm(16px);
    text-decoration: underline;
}

.lmao {
    padding: 40px;
    font-size: 20px;
    text-align: center;
}

.box {
    display: flex;
    gap: pxToEm(10px);

    &__item {
        padding: pxToEm(10px);
        border: 1px solid #000000;
        border-radius: pxToEm(10px);
        background: #c6c6c6;
    }

    &__left {
        flex: 5;
        // background: #e8acac;
    }

    &__right {
        flex: 3;
        // background: #36c473;
    }
}

.box-left {

		&__init-data {
            display: flex;
		}

		&__table-data {
		}

        &__formula{
        }
}

.init-data {
    display: flex;
    flex-wrap: wrap;
    // background: #917fde;
    margin-bottom: pxToEm(20px);

		&__variables {
            margin-right: pxToEm(20px);
            margin-bottom: pxToEm(10px);
		}

		&__title {
            font-size: 0.9em;
            margin-bottom: pxToEm(5px);
		}

		&__input {
            & input {
                width: pxToEm(250px);
                height: pxToEm(30px);
                border: 1px solid #000;
                border-radius: pxToEm(5px);
                padding: pxToEm(5px);
            }
		}

		&__expreriments {
		}
}

.table-data {
    border-collapse: collapse;
    font-size: pxToEm(16px);
    margin-bottom: pxToEm(30px);

    & td {
        min-width: pxToEm(50px);
        border: 1px solid #000;
        text-align: center;

        & input {
            text-align: center;
            max-width: pxToEm(120px);
            max-height: pxToEm(30px);
            padding: pxToEm(5px);
        }

    }
}

.formula {

    &__title {
        font-size: 0.9em;
        margin-bottom: pxToEm(10px);
    }

    &__input {
        width: pxToEm(250px);
        height: pxToEm(30px);
        border: 1px solid #000;
        border-radius: pxToEm(5px);
        padding: pxToEm(5px);
        margin-bottom: pxToEm(10px);
    }
}


.box-right {

		&__output {
            margin-bottom: pxToEm(10px);
            padding: pxToEm(5px);
            border: 1px solid #000;
            border-radius: pxToEm(5px);
		}
}

.list {
    padding-left: pxToEm(20px);
    margin-bottom: pxToEm(5px);
    &::before {
        content: '• '
    }
}

span {
    display: inline-block;
    min-width: pxToEm(70px);
    padding-right: pxToEm(5px);
}

input {
    background: #e7e7e7;
    transition: background 0.3s ease;

    &:hover {
        background: #cbcbcb;
    }

    &:focus {
        background: #e7e7e7;
        box-shadow: inset 0 0 2px black;
    }
}

@media screen and (max-width: 1250px) {
    .container {
        width: pxToEm(900px);
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: calc(100% - pxToEm(100px));
    }
}

@media screen and (max-width: 800px) {
    .box {
        flex-direction: column;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__left {
            text-align: center;
        }
    }
    .init-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
		&__variables {
            margin-right: 0;
            margin-bottom: pxToEm(10px);
		}
    }
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 14px;
    }
}
